#footer-wrapper {
    border-top: 1px solid var(--main-color);
}
.footer-icons {
    float: right;
    padding-top: .3em;
}

.footer-text {
    float: left;
    p {
        font-size: 0.75rem;
        padding-top: .3em;
        margin: 0;
    }
}