// SIMPLE GRID - SASS/SCSS

// universal

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

// grid

$width: 96%;
$gutter: 4%;
$breakpoint-x-small: 540px;
$breakpoint-small: 720px;
$breakpoint-med: 960px;
$breakpoint-large: 1080px;

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 100%;
  }
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row [class^="col"] {
  float: none;
  margin: 0.5rem 2%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* MOBILE-FIRST */
[class^="col"] {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0.5rem 0;
}

#flexbox .col-3 {
  order: 1;
}

#flexbox #index-text {
  order: 2;
}

/* SMALL BREAKPOINT */
@media (min-width: $breakpoint-small) {
  #flexbox .col-3 { order: 0; }
  #flexbox #index-text { order: 0; }
  .col-1-sm { flex: 0 0 8.333%; max-width: 8.333%; }
  .col-2-sm { flex: 0 0 16.666%; max-width: 16.666%; }
  .col-3-sm { flex: 0 0 25%; max-width: 25%; }
  .col-4-sm { flex: 0 0 33.333%; max-width: 33.333%; }
  .col-5-sm { flex: 0 0 41.666%; max-width: 41.666%; }
  .col-6-sm { flex: 0 0 50%; max-width: 50%; }
  .col-7-sm { flex: 0 0 58.333%; max-width: 58.333%; }
  .col-8-sm { flex: 0 0 66.666%; max-width: 66.666%; }
  .col-9-sm { flex: 0 0 75%; max-width: 75%; }
  .col-10-sm { flex: 0 0 83.333%; max-width: 83.333%; }
  .col-11-sm { flex: 0 0 91.666%; max-width: 91.666%; }
  .col-12-sm { flex: 0 0 100%; max-width: 100%; }
}

/* MEDIUM BREAKPOINT */
@media (min-width: $breakpoint-med) {
  .col-1 { flex: 0 0 8.333%; max-width: 8.333%; }
  .col-2 { flex: 0 0 16.666%; max-width: 16.666%; }
  .col-3 { flex: 0 0 25%; max-width: 25%; }
  .col-4 { flex: 0 0 33.333%; max-width: 33.333%; }
  .col-5 { flex: 0 0 41.666%; max-width: 41.666%; }
  .col-6 { flex: 0 0 50%; max-width: 50%; }
  .col-7 { flex: 0 0 58.333%; max-width: 58.333%; }
  .col-8 { flex: 0 0 66.666%; max-width: 66.666%; }
  .col-9 { flex: 0 0 75%; max-width: 75%; }
  .col-10 { flex: 0 0 83.333%; max-width: 83.333%; }
  .col-11 { flex: 0 0 91.666%; max-width: 91.666%; }
  .col-12 { flex: 0 0 100%; max-width: 100%; }

  .hidden-sm {
    display: block;
  }
}
