.content {
    min-height: 80vh;
    font-size: 1rem;
    font-weight: normal;
    ul {
        li {
            font-weight: normal;
        }
    }
    table {
        border-spacing: 0;
        border-right: 0px solid var(--main-color);
        border-bottom: 1px solid var(--main-color);
        th, td {
            padding: .5em;
            border-top: 1px solid var(--main-color);
            border-left: 0px solid var(--main-color);
            border-right: 0px solid var(--main-color)
        }
        th {
            background-color: var(--hover-bg);
            text-align: left;
        }
    }
}
.post-tags {
    ul {
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
        }
    }
}

main {
    min-height: 80vh;
    padding-bottom: 2em;
}


.toc {
    font-weight: normal;
    ul {
        padding-left: .5em;
        li{
            display: list-item;
            padding-left: .5em;
            font-size: 1em;
            line-height: 1.2em;
            list-style: none;  
        }
    }   
}

.badges {
    padding: 1em;
    background-color: var(--code-bg-color);
    img {
        width: 6em;
        height: 6em;
    }
}

p > strong {
    font-family: var(--font-family);
}
