{% block header %}
<header>
  <div class="container" id="header-container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" id="top">
        <div id="menu">
          <ul>
          {% for menuitem in config.extra.top_menu %}
            {# Build the href using get_url so it respects base_url and subpaths #}
            {% if menuitem == config.extra.index_page %}
              {% set href = get_url(path="") %}
            {% else %}
              {% set href = get_url(path=menuitem) %}
            {% endif %}

            {# Determine active state: exact match or current_url starts with href for section pages #}
            {% for menuitem in config.extra.top_menu %}
              {# Build href using get_url so it respects base_url and subpaths #}
              {% if menuitem == config.extra.index_page %}
                {% set href = get_url(path="") %}
              {% else %}
                {% set href = get_url(path=menuitem) %}
              {% endif %}

              {# Default to false then set true with simple if/elif tests #}
              {% set is_active = false %}

              {% if current_url == href %}
                {% set is_active = true %}
              {% elif href != get_url(path="") and (current_url starts_with href) %}
                {% set is_active = true %}
              {% endif %}

              <li>
                <a href="{{ href }}" class="{% if is_active %}active{% endif %}">{{ menuitem }}</a>
              </li>
            {% endfor %}


            <li>
              <a href="{{ href }}" class="{% if is_active %}active{% endif %}">{{ menuitem }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
        {%- if config.build_search_index -%}
        </1><div id="searchBox">  
          <span class="icon icon-search head"></span>
          <input id="searchInput" name="search">
        </div>
        {%- endif -%}
        <span id="cIcon" class="icon head"></span>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</header>
{%- if config.build_search_index -%}
    <div class="row">
      <div class="col-12">
          <div id="sResults">
            <ul id="sResultsUL" class="search-results">
            </ul>
          </div>
      </div>
    </div>
  {%- endif -%}
{% endblock header %}