on: push
name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zola
        uses: webfactory/setup-zola@v2
        with:
          zola-version: '0.21.0'

      - name: Build site (debug)
        run: zola build --base-url "https://domford.github.io/domford.net"

      - name: Show built index (debug)
        run: sed -n '1,20p' public/index.html

      - name: Deploy
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PAGES_BRANCH: gh-pages
          BUILD_THEMES: false
          BUILD_FLAGS: '--base-url "https://domford.github.io/domford.net"'
